html {
    background-color: beige;
    font-family: sans-serif;
}
h1 {
    color: rgb(20, 201, 20);
    text-align: center;
    background-color:rgb(133, 62, 11);
    margin: 0px -10px;
    padding: 20px;
}
.homeheader {
    font-size: 40px;
    margin-top: -10px;
}
.recipeheader {
    font-size: 30px;
}
h3 {
    color: green;
    font-size: 24px;
    margin: 10px auto;
    text-align: center;  
}
ol, ul {
    background-color: lightblue;
    color: black;
    font-size: 18px;
    margin: 10px -10px;
}
img {
    max-height: 500px;
    width: 50%;
    height: auto;
}
p {
    font-size: 18px;
    color: blue;
}
a {
    color: black;
    display: inline-block;
}
div {
    text-align: center;
    margin: 10px auto;
}
